body{
    background-color: black;
    color: gray;
}
header, main, nav, footer{
    text-align: center;
}
nav a{
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; /*removes underline*/
    color: white;          /*by default, links are blue*/
}
nav a.active{
    color: chartreuse;
}

nav a:hover{
    border-bottom: 2px green solid;
    font-size: 2em;
    transition: .4s;
}

#me,#welcomeText {
    float: left;
    text-align: left;
}

#pic{
    width: 250px; height: 300px;
    border-radius: 40px;
}
footer{
    clear: left;
    font-size: smaller;
    color: lightcoral;
}

table{
    margin: 0px auto;
}
td{
    padding-right: 10px;
    font-size: 1.3em;
}
td strong{
    color: orange;
}
#table-header{
    background-color: #351a00;
}
.table-row{
    background-color: #753900;
}
ul{
    text-align: left;
    padding-left: 200px;
}
.hobby{
    color: yellow;
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}